workflows/data_quality_agent.json
{
  "name": "Data Quality Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "data-quality-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 300],
      "id": "dqa1a1b2-c3d4-e5f6-a7b8-c9d0e1f2a3b4",
      "name": "Webhook",
      "webhookId": "data-quality-agent-webhook-id"
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/data/metadata/dv2_rules.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [250, 300],
      "id": "dqa2b2c3-d4e5-f6a7-b8c9-d0e1f2a3b4c5",
      "name": "Read File"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook').first().json.body;\n\nconst fileData = $input.first().json;\nlet dv2Rules;\ntry {\n  if (fileData.data) {\n    dv2Rules = JSON.parse(Buffer.from(fileData.data, 'base64').toString('utf-8'));\n  } else if (fileData.json) {\n    dv2Rules = typeof fileData.json === 'string' ? JSON.parse(fileData.json) : fileData.json;\n  } else {\n    dv2Rules = fileData;\n  }\n} catch (e) {\n  dv2Rules = fileData;\n}\n\nreturn {\n  json: {\n    vault_tables: webhookData.vault_tables || [],\n    mart_table: webhookData.mart_table || null,\n    dv2_rules: dv2Rules\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "id": "dqa3c3d4-e5f6-a7b8-c9d0-e1f2a3b4c5d6",
      "name": "Merge Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate validation SQL for the following tables that were just created and loaded.\n\nVAULT TABLES:\n{{ JSON.stringify($json.vault_tables, null, 2) }}\n\nMART TABLE:\n{{ JSON.stringify($json.mart_table, null, 2) }}\n\nDV2 RULES:\n{{ JSON.stringify($json.dv2_rules, null, 2) }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a Data Quality Agent for an inventory data system. You generate validation SQL to check data quality AFTER vault and mart tables have been created and loaded.\n\nYou receive table definitions (names, types, DDLs) and DV2 rules. Your job is to generate a SINGLE SQL query that runs all validation checks using UNION ALL. Each check returns a row with: check_id, table_name, category, message, issue_count.\n\nThe query will run against /data/vault.duckdb where vault/mart tables are in the main schema.\n\nGENERATE CHECKS FOR:\n\n1. COMPLETENESS (for each table)\n   - Table is not empty: SELECT COUNT(*) should be > 0\n   - No NULL business keys in hubs (_bk columns must not be NULL)\n   - No NULL hash keys in hubs/links/satellites (_hk columns must not be NULL)\n\n2. UNIQUENESS (for hubs and links)\n   - No duplicate business keys in hubs\n   - No duplicate hash keys in hubs and links\n   - For satellites: only one current record per parent key (only one row with load_end_dts IS NULL per parent _hk)\n\n3. REFERENTIAL (for satellites and marts)\n   - Every satellite's parent _hk exists in the parent hub/link\n   - Every link's hub _hk columns exist in the referenced hubs\n   (Only check references between tables that are both in the provided list)\n\n4. MART QUALITY (for mart tables)\n   - Mart is not empty\n   - No NULL business key columns in mart\n   - mart_insert_dts is populated (not NULL)\n\nFORMAT: Generate a single DuckDB SQL query using UNION ALL. Each check must be a SELECT with exactly these columns:\n- check_id VARCHAR — unique identifier like 'hub_product_null_bk'\n- table_name VARCHAR — the table being checked\n- category VARCHAR — 'COMPLETENESS', 'UNIQUENESS', 'REFERENTIAL', or 'MART_QUALITY'\n- message VARCHAR — human-readable description of what failed\n- issue_count BIGINT — number of problematic rows (0 means pass)\n\nExample:\nSELECT 'hub_product_null_bk' AS check_id, 'hub_product' AS table_name, 'COMPLETENESS' AS category, 'NULL business keys' AS message, COUNT(*) AS issue_count FROM hub_product WHERE product_bk IS NULL\nUNION ALL\nSELECT 'hub_product_dup_bk', 'hub_product', 'UNIQUENESS', 'Duplicate business keys', COUNT(*) FROM (SELECT product_bk FROM hub_product GROUP BY product_bk HAVING COUNT(*) > 1) t\nUNION ALL\n...\n\nIMPORTANT:\n- Only check tables that are in the provided list — do not reference tables that weren't provided\n- Use DuckDB SQL syntax\n- Wrap subqueries properly — DuckDB requires subqueries in FROM to be aliased\n- Every SELECT in the UNION ALL must have exactly the same 5 columns in the same order\n\nRespond ONLY with valid JSON (no markdown code fences):\n{\"sql\": \"SELECT ... UNION ALL SELECT ...\", \"checks_count\": 8}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [750, 300],
      "id": "dqa4d4e5-f6a7-b8c9-d0e1-f2a3b4c5d6e7",
      "name": "Generate Validation SQL"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "claude-haiku-4-5-20251001"
        },
        "options": {
          "maxTokensToSample": 16384
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [750, 500],
      "id": "dqa5e5f6-a7b8-c9d0-e1f2-a3b4c5d6e7f8",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "WZvvDOFtpiYtjRLz",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const llmOutput = $input.first().json.text;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(llmOutput);\n} catch (e) {\n  let jsonStr = llmOutput;\n  const fenceMatch = llmOutput.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (fenceMatch) {\n    jsonStr = fenceMatch[1].trim();\n  } else if (llmOutput.startsWith('```')) {\n    jsonStr = llmOutput.replace(/^```(?:json)?\\s*/, '').trim();\n  }\n\n  try {\n    parsed = JSON.parse(jsonStr);\n  } catch (e2) {\n    // Attempt to recover truncated JSON\n    let recovered = jsonStr;\n    const quoteCount = (recovered.match(/(?<!\\\\)\"\/g) || []).length;\n    if (quoteCount % 2 !== 0) recovered += '\"';\n    const stack = [];\n    for (const ch of recovered) {\n      if (ch === '{' || ch === '[') stack.push(ch);\n      else if (ch === '}' || ch === ']') stack.pop();\n    }\n    while (stack.length > 0) {\n      const last = stack.pop();\n      recovered += last === '{' ? '}' : ']';\n    }\n    try {\n      parsed = JSON.parse(recovered);\n    } catch (e3) {\n      throw new Error('Could not parse LLM output as JSON: ' + llmOutput.substring(0, 300));\n    }\n  }\n}\n\nif (!parsed.sql) {\n  throw new Error('LLM output missing sql field');\n}\n\nreturn {\n  json: {\n    sql: parsed.sql,\n    checks_count: parsed.checks_count || 0\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300],
      "id": "dqa6f6a7-b8c9-d0e1-f2a3-b4c5d6e7f8a9",
      "name": "Parse SQL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://duckdb-service:8001/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({sql: $json.sql, database: \"/data/vault.duckdb\"}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300],
      "id": "dqa7a7b8-c9d0-e1f2-a3b4-c5d6e7f8a9b0",
      "name": "Run Validation"
    },
    {
      "parameters": {
        "jsCode": "const queryResult = $input.first().json;\nconst checksCount = $('Parse SQL').first().json.checks_count;\n\n// Handle query errors\nif (queryResult.detail || queryResult.status === 'error') {\n  return {\n    json: {\n      status: 'error',\n      checks_run: 0,\n      issues: [{\n        severity: 'error',\n        table: '_validation_query',\n        check: 'SYSTEM',\n        message: 'Validation query failed: ' + (queryResult.detail || 'unknown error'),\n        count: 0\n      }]\n    }\n  };\n}\n\nconst rows = queryResult.rows || [];\nconst issues = [];\n\nfor (const row of rows) {\n  const count = parseInt(row.issue_count, 10);\n  if (count > 0) {\n    issues.push({\n      severity: 'error',\n      table: row.table_name,\n      check: row.category,\n      message: row.message + ' (' + count + ' rows)',\n      count: count\n    });\n  }\n}\n\nconst hasErrors = issues.length > 0;\n\nreturn {\n  json: {\n    status: hasErrors ? 'fail' : 'pass',\n    checks_run: rows.length || checksCount,\n    issues: issues\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300],
      "id": "dqa8b8c9-d0e1-f2a3-b4c5-d6e7f8a9b0c1",
      "name": "Analyze Results"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1750, 300],
      "id": "dqa9c9d0-e1f2-a3b4-c5d6-e7f8a9b0c1d2",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "Generate Validation SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Validation SQL": {
      "main": [
        [
          {
            "node": "Parse SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Validation SQL",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse SQL": {
      "main": [
        [
          {
            "node": "Run Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Validation": {
      "main": [
        [
          {
            "node": "Analyze Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
