workflows/dispatcher_agent.json
{
  "id": "EPobOCC4V3tBomcw",
  "name": "Dispatcher Agent",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dispatcher",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Webhook",
      "webhookId": "disp-wh-1"
    },
    {
      "parameters": {
        "fileSelector": "/data/metadata/source_catalog.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        220,
        300
      ],
      "id": "a2222222-2222-4222-8222-222222222222",
      "name": "Read Source Catalog"
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = 'http://duckdb-service:8001/query';\nconst database = '/data/vault.duckdb';\nconst listSql =\n  \"SELECT table_name FROM information_schema.tables WHERE table_schema = 'main' ORDER BY table_name\";\n\nreturn (async () => {\n  const listRes = await this.helpers.httpRequest({\n    method: 'POST',\n    url: baseUrl,\n    headers: { 'content-type': 'application/json' },\n    body: { sql: listSql, database },\n    json: true,\n  });\n\n  const rows = listRes.rows || [];\n  const byName = {};\n  for (const r of rows) {\n    const name = r.table_name;\n    if (!name) continue;\n    byName[name] = { table_name: name, max_insert_dts: null, row_count: null };\n  }\n  const vaultRows = rows.filter((r) => { const n = String(r.table_name || ''); return n.startsWith('hub_') || n.startsWith('lnk_') || n.startsWith('sat_'); });\n  try {\n    if (vaultRows.length > 0) {\n      const countSql = vaultRows.map((r) => { const n = String(r.table_name); return \"SELECT '\" + n.replace(/'/g, \"''\") + \"' AS table_name, COUNT(*) AS row_count FROM \\\"\" + n.replace(/\"/g, '\"\"') + '\"'; }).join(' UNION ALL ');\n      const countRes = await this.helpers.httpRequest({ method: 'POST', url: baseUrl, headers: { 'content-type': 'application/json' }, body: { sql: countSql, database }, json: true });\n      for (const r of countRes.rows || []) { if (byName[r.table_name]) byName[r.table_name].row_count = r.row_count; }\n    }\n  } catch (e) {}\n  const marts = rows.filter((r) => String(r.table_name || '').startsWith('mart_'));\n  try {\n    if (marts.length > 0) {\n      const unionSql = marts\n        .map((r) => {\n          const n = String(r.table_name);\n          const safeIdent = n.replace(/\"/g, '\"\"');\n          return (\n            \"SELECT '\" +\n            n.replace(/'/g, \"''\") +\n            \"' AS table_name, MAX(mart_insert_dts) AS max_insert_dts FROM \\\"\" +\n            safeIdent +\n            '\"'\n          );\n        })\n        .join(' UNION ALL ');\n      const martRes = await this.helpers.httpRequest({\n        method: 'POST',\n        url: baseUrl,\n        headers: { 'content-type': 'application/json' },\n        body: { sql: unionSql, database },\n        json: true,\n      });\n      for (const r of martRes.rows || []) {\n        const tn = r.table_name;\n        if (Object.prototype.hasOwnProperty.call(byName, tn)) {\n          byName[tn].max_insert_dts = r.max_insert_dts;\n        }\n      }\n    }\n  } catch (e) {\n    // mart_insert_dts may be missing or table not readable; leave max_insert_dts null\n  }\n\n  // Read vault registry\n  let vaultRegistry = [];\n  try {\n    const vrRes = await this.helpers.httpRequest({\n      method: 'POST',\n      url: baseUrl,\n      headers: { 'content-type': 'application/json' },\n      body: { sql: 'SELECT * FROM _vault_registry ORDER BY table_type, table_name', database },\n      json: true,\n    });\n    vaultRegistry = vrRes.rows || [];\n  } catch (e) {}\n\n  // Read mart registry\n  let martRegistry = [];\n  try {\n    const mrRes = await this.helpers.httpRequest({\n      method: 'POST',\n      url: baseUrl,\n      headers: { 'content-type': 'application/json' },\n      body: { sql: 'SELECT * FROM _mart_registry ORDER BY table_name', database },\n      json: true,\n    });\n    martRegistry = mrRes.rows || [];\n  } catch (e) {}\n\n  return [{ json: { output: { data: Object.values(byName) }, vault_registry: vaultRegistry, mart_registry: martRegistry } }];\n})();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "id": "a3333333-3333-4333-8333-333333333333",
      "name": "Inspect Tables"
    },
    {
      "parameters": {
        "jsCode": "const inspectResult = $input.first().json;\nconst webhookData = $('Webhook').first().json.body;\nconst catalogFile = $('Read Source Catalog').first().json;\nlet catalog;\ntry {\n  if (catalogFile.data) catalog = JSON.parse(Buffer.from(catalogFile.data, 'base64').toString('utf-8'));\n  else catalog = catalogFile;\n} catch(e) { catalog = catalogFile; }\nconst tables = inspectResult.output ? (inspectResult.output.data || []) : [];\nconst now = new Date();\nconst H24 = 24*60*60*1000;\nconst H48 = 48*60*60*1000;\nconst existingTables = [];\nconst staleMarts = [];\nconst expiredMarts = [];\nconst freshMarts = [];\nfor (const t of tables) {\n  const name = t.table_name;\n  existingTables.push(name);\n  if (name.startsWith('mart_')) {\n    const age = t.max_insert_dts && t.max_insert_dts !== 'NaT'\n      ? (now - new Date(t.max_insert_dts))\n      : Infinity;\n    if (isNaN(age) || age > H48) expiredMarts.push(name);\n    else if (age > H24) staleMarts.push(name);\n    else freshMarts.push(name);\n  }\n}\nreturn [{\n  json: {\n    user_request: webhookData.user_request,\n    catalog,\n    existing_tables: existingTables,\n    fresh_marts: freshMarts,\n    stale_marts: staleMarts,\n    expired_marts: expiredMarts,\n    vault_tables: tables.filter(t => (t.table_name.startsWith('hub_') || t.table_name.startsWith('lnk_') || t.table_name.startsWith('sat_')) && t.row_count > 0).map(t => t.table_name),\n    empty_vault_tables: tables.filter(t => (t.table_name.startsWith('hub_') || t.table_name.startsWith('lnk_') || t.table_name.startsWith('sat_')) && t.row_count === 0).map(t => t.table_name),\n    vault_registry: inspectResult.vault_registry || [],\n    mart_registry: inspectResult.mart_registry || []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "id": "a4444444-4444-4444-8444-444444444444",
      "name": "Classify Tables"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://duckdb-service:8001/execute-batch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const exp=$json.expired_marts||[]; if(!exp.length) return {statements:[\"SELECT 1\"],database:\"/data/vault.duckdb\"}; const stmts=[]; for(const t of exp){ stmts.push(\"DROP TABLE IF EXISTS \"+t); stmts.push(\"DELETE FROM _mart_registry WHERE table_name = '\"+t.replace(/'/g,\"''\")+\"'\"); } return {statements:stmts,database:\"/data/vault.duckdb\"}; })() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        300
      ],
      "id": "a5555555-5555-4555-8555-555555555555",
      "name": "Cleanup Stale Marts"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Classify Tables').first().json;\nconst currentTables = data.existing_tables.filter(t => !data.expired_marts.includes(t));\nconst vaultRegistry = data.vault_registry || [];\nconst martRegistry = data.mart_registry || [];\n\n// \u2500\u2500 Format vault metadata \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst hubs = vaultRegistry.filter(r => r.table_type === 'HUB');\nconst links = vaultRegistry.filter(r => r.table_type === 'LINK');\nconst sats = vaultRegistry.filter(r => r.table_type === 'SATELLITE');\n\nlet vaultMeta = 'VAULT TABLE METADATA:\\n';\nvaultMeta += 'HUBS:\\n';\nif (hubs.length) {\n  for (const h of hubs) {\n    vaultMeta += '  - ' + h.table_name + ' (PK: ' + (h.pk_column || '?') + ', BK: ' + (h.bk_column || '?') + ', source: ' + (h.source_tables || '?') + ')\\n';\n  }\n} else {\n  vaultMeta += '  (none)\\n';\n}\nvaultMeta += 'LINKS:\\n';\nif (links.length) {\n  for (const l of links) {\n    vaultMeta += '  - ' + l.table_name + ' (PK: ' + (l.pk_column || '?') + ', connects: ' + (l.hub_keys || '?') + ')\\n';\n  }\n} else {\n  vaultMeta += '  (none)\\n';\n}\nvaultMeta += 'SATELLITES:\\n';\nif (sats.length) {\n  for (const s of sats) {\n    vaultMeta += '  - ' + s.table_name + ' (parent: ' + (s.parent_table || '?') + ', key: ' + (s.parent_key || '?') + ', columns: ' + (s.columns || '?') + ')\\n';\n  }\n} else {\n  vaultMeta += '  (none)\\n';\n}\n\n// \u2500\u2500 Format mart metadata \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// freshMarts is already filtered to <24h marts still in currentTables\nconst freshMartNames = new Set(data.fresh_marts || []);\nlet martMeta = 'EXISTING MARTS:\\n';\nif (martRegistry.length) {\n  for (const m of martRegistry) {\n    const freshLabel = freshMartNames.has(m.table_name) ? '[FRESH]' : '[STALE]';\n    martMeta += '  - ' + m.table_name + ' ' + freshLabel + '\\n';\n    martMeta += '    Answers: ' + (m.understood_request || '?') + '\\n';\n    martMeta += '    Grain: ' + (m.grain || '?') + '\\n';\n    martMeta += '    Columns: ' + (m.columns || '?') + '\\n';\n    martMeta += '    Built from: ' + (m.source_vault_tables || '?') + '\\n';\n  }\n} else {\n  martMeta += '  (none)\\n';\n}\n\nconst context = \"USER QUESTION: \" + data.user_request +\n  \"\\n\\nSOURCE CATALOG:\\n\" + JSON.stringify(data.catalog, null, 2) +\n  \"\\n\\n\" + vaultMeta +\n  \"\\n\" + martMeta +\n  \"\\nEMPTY VAULT TABLES (0 rows, need rebuilding):\\n\" + ((data.empty_vault_tables || []).length ? data.empty_vault_tables.join(\", \") : \"(none)\");\n\nreturn [{\n  json: {\n    llm_context: context,\n    user_request: data.user_request,\n    catalog: data.catalog,\n    existing_tables: currentTables,\n    fresh_marts: data.fresh_marts,\n    stale_marts: data.stale_marts,\n    vault_tables: data.vault_tables,\n    empty_vault_tables: data.empty_vault_tables || [],\n    vault_registry: vaultRegistry,\n    mart_registry: martRegistry\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ],
      "id": "a6666666-6666-4666-8666-666666666666",
      "name": "Build LLM Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.llm_context }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a Data Analyst for an inventory management system. You help business users answer questions about their inventory data.\n\nYour job: analyze the user's business question, understand what data is needed, determine the optimal path to produce the answer, and produce a precise mart SQL plan that a simple code-generation agent can execute without any reasoning.\n\nROUTING RULES:\n- QUERY_ONLY: A fresh mart (<24h) already exists that answers the question. Just query it.\n- QUERY_SOURCE: The question is about the source database itself (metadata, schema info, table counts, column lists). Route to Query Agent to answer directly — do not build vault or mart.\n- PARTIAL_BUILD: Some vault tables exist but the mart is missing, stale, or doesn't answer this specific question. Build only what's missing.\n- BUILD_ALL: No relevant vault tables exist. Build everything from scratch.\n\nIMPORTANT: Tables listed under EMPTY VAULT TABLES have 0 rows and must be rebuilt. Include them in vault_tables_to_create. For QUERY_ONLY, you must verify TWO things before accepting an existing mart: (1) the mart's understood_request matches the intent of the current question — not just partially overlapping topics; (2) the mart columns cover ALL metrics the user asked about. If the user asks about fulfillment or rejections, the mart must have rejection or fulfillment rate columns. If either check fails, route to PARTIAL_BUILD instead.\n\nSOURCE TABLES AVAILABLE:\n- erp: products, inventory_levels, locations, work_orders\n- procurement: vendors, purchase_orders, po_lines\n- wms: warehouses, stock_movements\n\nIMPORTANT:\n- source_tables_to_extract: list FULL references like \"erp.products\"\n- vault_tables_to_create: use DV2 naming: hub_<entity>, lnk_<entity1>_<entity2>, sat_<entity>_<aspect>\n- For QUERY_ONLY: set source_tables_to_extract and vault_tables_to_create to empty arrays\n- business_keys: source column names that uniquely identify entities\n- grain: what one row in the mart represents. IMPORTANT: check the source catalog grain field for each source table you extract. The mart grain must preserve the source grain \u2014 do not aggregate across dimensions present in the source. For example, if inventory_levels has grain \"one row per product per location\", the mart must keep the location dimension, not sum across locations.\n\nDATA VAULT PLANNING RULES:\n- Create one hub per distinct business entity (e.g., hub_product for products, hub_location for locations). NEVER combine multiple entities into a single composite hub.\n- Use links (lnk_) to represent relationships between hubs (e.g., lnk_product_location connects hub_product and hub_location).\n- Every satellite must have a parent hub or link in vault_tables_to_create or existing_tables_to_reuse.\n- Satellites that describe a single entity (e.g., sat_product_details) attach to that entity's hub (hub_product), NOT to a link.\n- Example for inventory questions: create hub_product, hub_location, lnk_product_location, sat_product_details (on hub_product), sat_inventory_levels (on lnk_product_location), sat_inventory_reorder_point (on hub_product).\n\nLINK TABLE PLANNING \u2014 JOIN PATH ANALYSIS:\nWhen the question involves two entities, trace the FK path between them using the source catalog:\n1. Identify all entities the question requires (e.g., products AND vendors).\n2. For each pair of entities, trace the FK chain through source tables:\n   - products \u2192 vendors: erp.products \u2190 po_lines.product_id, po_lines.po_id \u2192 purchase_orders, purchase_orders.vendor_id \u2192 vendors\n   - products \u2192 locations: erp.products \u2190 inventory_levels.product_id, inventory_levels.location_id \u2192 locations (direct via inventory_levels)\n   - products \u2192 work_orders: erp.products \u2190 work_orders.product_id (direct)\n   - products \u2192 stock_movements: erp.products \u2190 stock_movements.product_id (direct)\n   - locations \u2192 stock_movements: erp.locations \u2190 stock_movements.location_id (direct)\n3. For each FK chain, ensure a link table exists that connects the hubs on BOTH ends. A link is only valid for a join path if it contains BOTH hub keys needed (e.g., lnk_purchase_order_vendor has purchase_order_hk + vendor_hk but NOT product_hk \u2014 it CANNOT connect products to vendors).\n4. If no existing link connects the required entities, add one to vault_tables_to_create. For multi-hop paths (e.g., product\u2192vendor through po_lines and purchase_orders), create a direct link (e.g., lnk_product_vendor) that the Data Vault Agent will derive from the intermediate source tables.\n5. NEVER assume an existing link table covers a join path just because it mentions one of the entities. Always verify it has hub keys for BOTH ends of the path you need.\n\nMART SQL PLAN \u2014 YOU MUST produce this for BUILD_ALL and PARTIAL_BUILD. Set to null for QUERY_ONLY.\n\nThe mart_sql_plan tells a code-generation agent exactly what SQL to write. It must be fully specified \u2014 no ambiguity. Rules:\n\n1. columns: List every output column in the mart (use _bk suffix for business keys, no _hk hash keys, no DV2 metadata columns).\n\n2. join_sequence: An ordered list of tables to join. First entry is the driving table (no join condition). Each subsequent entry has:\n   - \"table\": exact table name (must be in vault_tables_to_create or existing_tables_to_reuse)\n   - \"alias\": short alias (e.g. \"hp\", \"lpl\", \"sil\")\n   - \"join_type\": \"INNER\" or \"LEFT\" (default INNER if omitted)\n   - \"join\": the ON condition string using aliases (e.g. \"hp.product_hk = lpl.product_hk\")\n   - \"filter\": optional WHERE-style filter applied to this table (e.g. \"sil.load_end_dts IS NULL\")\n\n3. cte_strategy: Use \"measures_first\" when the mart includes BOTH measure columns (counts, sums, reorder quantities) AND a one-to-many dimension (e.g. vendors per product). This prevents fan-out duplication. Use \"flat\" when no fan-out risk exists.\n\n4. When cte_strategy is \"measures_first\":\n   - \"cte_tables\": list the table names included in the measures CTE (all non-fan-out tables)\n   - \"fanout_joins\": list the additional tables joined AFTER the CTE (the one-to-many side)\n   The CTE computes all measures first, then the outer query joins the fan-out dimension.\n\n5. group_by: List of column expressions to GROUP BY if the grain requires aggregation. null if no GROUP BY needed.\n\n6. aggregations: List of expressions for aggregate columns (e.g. \"SUM(sil.qty_on_hand) AS qty_on_hand\"). Empty array if none.\n\n7. For spend or cost metrics, always use the subtotal column (pre-tax purchase value). Never use total_due unless the user explicitly asks for total cost including tax.\n\nRESPOND ONLY with valid JSON (no markdown fences):\n{\"understood_request\":\"...\",\"routing_decision\":\"BUILD_ALL\"|\"QUERY_ONLY\"|\"PARTIAL_BUILD\"|\"QUERY_SOURCE\",\"existing_tables_to_reuse\":[],\"source_tables_to_extract\":[],\"vault_tables_to_create\":[],\"mart_table_name\":\"mart_...\",\"business_keys\":[],\"grain\":\"...\",\"metrics\":[],\"final_query\":\"SELECT * FROM mart_...\",\"mart_sql_plan\":{\"columns\":[],\"join_sequence\":[{\"table\":\"hub_...\",\"alias\":\"...\"}],\"cte_strategy\":\"flat\"|\"measures_first\",\"cte_tables\":[],\"fanout_joins\":[],\"group_by\":null,\"aggregations\":[]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1320,
        300
      ],
      "id": "a7777777-7777-4777-8777-777777777777",
      "name": "Route Decision"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "claude-sonnet-4-6"
        },
        "options": {
          "maxTokensToSample": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1320,
        520
      ],
      "id": "a8888888-8888-4888-8888-888888888888",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "WZvvDOFtpiYtjRLz",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const llmOutput = $input.first().json.text;\nlet plan;\ntry { plan = JSON.parse(llmOutput); } catch(e) {\n  const m = llmOutput.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (m) plan = JSON.parse(m[1].trim());\n  else throw new Error('Cannot parse route: ' + llmOutput.substring(0,200));\n}\nconst ctx = $('Build LLM Context').first().json;\n\n// Enforce final_query to query the generated mart.\n// This prevents the router LLM from producing incorrect vault joins.\nconst martTable = plan.mart_table_name || plan.mart_used;\nif (martTable) plan.final_query = 'SELECT * FROM ' + martTable;\n\n// Ensure mart_sql_plan is present; null for QUERY_ONLY and QUERY_SOURCE\nif (!('mart_sql_plan' in plan) || plan.mart_sql_plan === null || plan.mart_sql_plan === undefined) {\n  plan.mart_sql_plan = (plan.routing_decision === 'QUERY_ONLY' || plan.routing_decision === 'QUERY_SOURCE') ? null : {};\n}\n\n// QUERY_SOURCE: no extraction or vault build needed\nif (plan.routing_decision === 'QUERY_SOURCE') {\n  plan.source_tables_to_extract = [];\n  plan.vault_tables_to_create = [];\n  plan.mart_sql_plan = null;\n}\n\n\nreturn [{\n  json: {\n    ...plan,\n    catalog: ctx.catalog,\n    existing_tables: ctx.existing_tables,\n    vault_tables: ctx.vault_tables\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ],
      "id": "a9999999-9999-4999-8999-999999999999",
      "name": "Parse Route"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "route-check-cond-1",
              "leftValue": "={{ $json.routing_decision }}",
              "rightValue": "QUERY_ONLY",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1760,
        300
      ],
      "id": "b1111111-1111-4111-8111-111111111111",
      "name": "Route Check"
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = 'http://duckdb-service:8001/query';\nconst database = '/data/vault.duckdb';\nconst sql = String($json.final_query || '').trim();\nif (!sql) {\n  return [{\n    json: {\n      status: 'error',\n      output: { error: 'final_query is empty', columns: [], data: [], row_count: 0, sql: '' },\n    },\n  }];\n}\n\nreturn (async () => {\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'POST',\n      url: baseUrl,\n      headers: { 'content-type': 'application/json' },\n      body: { sql, database },\n      json: true,\n    });\n    return [{\n      json: {\n        status: 'success',\n        output: {\n          columns: res.columns || [],\n          data: res.rows || [],\n          row_count: res.row_count ?? (res.rows || []).length,\n          sql,\n          explanation: 'Executed via duckdb-service',\n        },\n      },\n    }];\n  } catch (e) {\n    let detail = e.message || String(e);\n    const d = e.response?.data ?? e.response?.body;\n    if (d && typeof d === 'object' && d.detail) detail = String(d.detail);\n    if (typeof d === 'string') {\n      try {\n        const p = JSON.parse(d);\n        if (p.detail) detail = String(p.detail);\n      } catch (_) {}\n    }\n    return [{\n      json: {\n        status: 'error',\n        output: { error: detail, columns: [], data: [], row_count: 0, sql },\n      },\n    }];\n  }\n})();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        100
      ],
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Query Mart"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst plan = $('Parse Route').first().json;\nconst topStatus = result.status === 'error' ? 'error' : 'success';\nconst finalSql = (result.output && result.output.sql) || plan.final_query || '';\nconst queryCode = '-- QUERY_ONLY: Reusing existing mart\\n-- Mart: ' + (plan.mart_table_name || '') + '\\n\\n' + finalSql + '\\n';\nreturn [{\n  json: {\n    status: topStatus,\n    routing: 'QUERY_ONLY',\n    understood_request: plan.understood_request,\n    mart_used: plan.mart_table_name,\n    existing_tables_reused: plan.existing_tables_to_reuse || [],\n    query_code: queryCode,\n    output: result.output || result\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        100
      ],
      "id": "b3333333-3333-4333-8333-333333333333",
      "name": "Format Query Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2420,
        100
      ],
      "id": "b4444444-4444-4444-8444-444444444444",
      "name": "Respond QUERY"
    },
    {
      "parameters": {
        "jsCode": "const plan = $json;\nconst tables = plan.source_tables_to_extract || [];\nconst _ts_start = Date.now();\n\nreturn (async () => {\n  const stagingTables = [];\n  const statements = [];\n\n  function inferDuckDBType(values) {\n    const nonNull = values.filter(v => v !== null && v !== undefined && v !== '');\n    if (!nonNull.length) return 'VARCHAR';\n    const sample = nonNull.slice(0, 20);\n\n    // Boolean\n    if (sample.every(v => v === true || v === false || v === 'true' || v === 'false')) return 'BOOLEAN';\n\n    // Integer\n    if (sample.every(v => {\n      const n = Number(v);\n      return !isNaN(n) && Number.isInteger(n) && String(v).indexOf('.') === -1;\n    })) return 'BIGINT';\n\n    // Double\n    if (sample.every(v => !isNaN(Number(v)))) return 'DOUBLE';\n\n    // Date/timestamp (ISO-ish strings)\n    if (sample.every(v => typeof v === 'string' && /^\\d{4}-\\d{2}-\\d{2}/.test(v))) {\n      if (sample.some(v => /T\\d{2}:\\d{2}/.test(v))) return 'TIMESTAMP';\n      return 'DATE';\n    }\n\n    return 'VARCHAR';\n  }\n\n  function escapeSingleQuote(val) {\n    if (val === null || val === undefined) return 'NULL';\n    return \"'\" + String(val).replace(/'/g, \"''\") + \"'\";\n  }\n\n  function buildLiteral(val, type) {\n    if (val === null || val === undefined || val === '') return 'NULL';\n    if (type === 'BOOLEAN') return (val === true || val === 'true') ? 'TRUE' : 'FALSE';\n    if (type === 'BIGINT' || type === 'DOUBLE') return String(val);\n    if (type === 'DATE') return 'DATE ' + escapeSingleQuote(String(val).slice(0, 10));\n    if (type === 'TIMESTAMP') return 'TIMESTAMP ' + escapeSingleQuote(String(val).slice(0, 23));\n    return escapeSingleQuote(val);\n  }\n\n  for (const fullRef of tables) {\n    const parts = fullRef.split('.');\n    const stgName = 'stg_' + parts[0] + '_' + parts[1];\n\n    // Call Query Agent\n    let qaResult;\n    try {\n      qaResult = await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'http://localhost:5678/webhook/query-agent',\n        headers: { 'content-type': 'application/json' },\n        body: {\n          task: 'Extract all rows and all columns from ' + fullRef + '. Do not apply any LIMIT.',\n          database: '/data/source.duckdb'\n        },\n        json: true,\n        timeout: 120000,\n      });\n    } catch (e) {\n      const detail = e.response?.data?.detail || e.message || String(e);\n      throw new Error('Query Agent failed for ' + fullRef + ': ' + detail);\n    }\n\n    if (!qaResult || qaResult.status !== 'success') {\n      throw new Error('Query Agent returned non-success for ' + fullRef + ': ' + JSON.stringify(qaResult).slice(0, 400));\n    }\n\n    const columns = qaResult.output.columns || [];\n    const rows = qaResult.output.data || [];\n\n    if (!columns.length) {\n      throw new Error('Query Agent returned no columns for ' + fullRef);\n    }\n\n    // Infer types from data\n    const colTypes = columns.map((col, i) => {\n      const vals = rows.map(row => Array.isArray(row) ? row[i] : row[col]);\n      return { name: col, type: inferDuckDBType(vals) };\n    });\n\n    // DROP + CREATE TABLE\n    statements.push('DROP TABLE IF EXISTS ' + stgName);\n    const colDefs = colTypes.map(c => '\"' + c.name + '\" ' + c.type).join(', ');\n    statements.push('CREATE TABLE ' + stgName + ' (' + colDefs + ')');\n\n    // INSERT rows in batches of 500\n    const batchSize = 500;\n    for (let offset = 0; offset < rows.length; offset += batchSize) {\n      const batch = rows.slice(offset, offset + batchSize);\n      const colNames = columns.map(c => '\"' + c + '\"').join(', ');\n      const valueRows = batch.map(row => {\n        const vals = colTypes.map((c, i) => {\n          const v = Array.isArray(row) ? row[i] : row[c.name];\n          return buildLiteral(v, c.type);\n        });\n        return '(' + vals.join(', ') + ')';\n      });\n      statements.push('INSERT INTO ' + stgName + ' (' + colNames + ') VALUES ' + valueRows.join(', '));\n    }\n\n    stagingTables.push({ name: stgName, original_source: fullRef });\n  }\n\n  return [{\n    json: {\n      staging_statements: statements,\n      staging_tables: stagingTables,\n      plan: plan,\n      _ts_start: _ts_start\n    }\n  }];\n})();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        500
      ],
      "id": "b5555555-5555-4555-8555-555555555555",
      "name": "Create Staging Tables"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://duckdb-service:8001/execute-batch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {statements:$json.staging_statements, database:\"/data/vault.duckdb\"} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        500
      ],
      "id": "b6666666-6666-4666-8666-666666666666",
      "name": "Run Staging SQL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://duckdb-service:8001/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const stg = $('Create Staging Tables').first().json.staging_tables || []; const emptySql = \"SELECT CAST(NULL AS VARCHAR) AS table_name, CAST(NULL AS VARCHAR) AS name, CAST(NULL AS VARCHAR) AS type WHERE FALSE\"; if (!stg.length) return { sql: emptySql, database: \"/data/vault.duckdb\" }; const sql = stg.map(t=>\"SELECT '\"+t.name+\"' AS table_name, column_name AS name, data_type AS type FROM information_schema.columns WHERE table_name='\"+t.name+\"' AND table_schema='main'\").join(' UNION ALL '); return { sql, database: \"/data/vault.duckdb\" }; })() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        500
      ],
      "id": "b7777777-7777-4777-8777-777777777777",
      "name": "Describe Staging"
    },
    {
      "parameters": {
        "jsCode": "const colData = $input.first().json;\nconst stgData = $('Create Staging Tables').first().json;\nconst plan = stgData.plan;\nconst colsByTable = {};\nfor (const r of (colData.rows || [])) {\n  if (!colsByTable[r.table_name]) colsByTable[r.table_name] = [];\n  colsByTable[r.table_name].push({name: r.name, type: r.type});\n}\nconst stagingTables = stgData.staging_tables.map(t => ({\n  name: t.name,\n  original_source: t.original_source,\n  columns: colsByTable[t.name] || []\n}));\nconst classifyData = $('Classify Tables').first().json;\nreturn [{\n  json: {\n    vault_request: {\n      staging_tables: stagingTables,\n      vault_tables_to_create: plan.vault_tables_to_create || [],\n      existing_vault_tables: plan.existing_tables_to_reuse || [],\n      business_keys: plan.business_keys || [],\n      vault_registry: classifyData.vault_registry || [],\n      mart_registry: classifyData.mart_registry || []\n    },\n    plan: plan\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        500
      ],
      "id": "b8888888-8888-4888-8888-888888888888",
      "name": "Build Vault Request"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.vault_request;\nconst _ts_start = Date.now();\nreturn (async () => {\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'http://localhost:5678/webhook/data-vault-agent',\n      headers: { 'content-type': 'application/json' },\n      body,\n      json: true,\n      timeout: 120000,\n    });\n\n    const result = (res && typeof res === 'object') ? res : { value: res };\n    result._ts_vault_ms = Date.now() - _ts_start;\n    return [{ json: result }];\n  } catch (e) {\n    let detail = e.message || String(e);\n    const raw = e.response?.data ?? e.response?.body;\n\n    if (raw && typeof raw === 'object' && raw.detail) detail = String(raw.detail);\n    else if (typeof raw === 'string' && raw.length) {\n      try {\n        const p = JSON.parse(raw);\n        if (p.detail) detail = String(p.detail);\n      } catch (_) {}\n      detail = raw.slice(0, 800);\n    }\n\n    return [{\n      json: {\n        status: 'error',\n        error: detail,\n        vault_tables: [],\n        _ts_vault_ms: Date.now() - _ts_start,\n      },\n    }];\n  }\n})();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        500
      ],
      "id": "b9999999-9999-4999-8999-999999999999",
      "name": "Call Data Vault Agent"
    },
    {
      "parameters": {
        "jsCode": "const vaultResult = $input.first().json;\nconst plan = $('Build Vault Request').first().json.plan;\nconst vaultTables = vaultResult.vault_tables || [];\nconst drops = vaultTables.map(t => 'DROP TABLE IF EXISTS ' + t.table_name);\nconst ddl = vaultTables.map(t => t.ddl);\nconst loads = vaultTables.map(t => t.load_sql);\n\n// \u2500\u2500 Registry helpers \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction extractColumns(ddlStr) {\n  if (!ddlStr) return [];\n  const m = ddlStr.match(/\\((.+)\\)/s);\n  if (!m) return [];\n  const inner = m[1]; const cols = []; let depth = 0; let cur = ''; for (const ch of inner) { if (ch === '(') { depth++; cur += ch; } else if (ch === ')') { depth--; cur += ch; } else if (ch === ',' && depth === 0) { cols.push(cur.trim()); cur = ''; } else { cur += ch; } } if (cur.trim()) cols.push(cur.trim()); return cols.map(c => c.split(/\\s+/)[0]).filter(Boolean);\n}\n\nfunction safeStr(s) {\n  return String(s || '').replace(/'/g, \"''\");\n}\n\n// Build registry DDL + inserts for vault tables\nconst registryDDL = `CREATE TABLE IF NOT EXISTS _vault_registry (\n  table_name   VARCHAR PRIMARY KEY,\n  table_type   VARCHAR NOT NULL,\n  pk_column    VARCHAR,\n  bk_column    VARCHAR,\n  hub_keys     VARCHAR,\n  parent_table VARCHAR,\n  parent_key   VARCHAR,\n  source_tables VARCHAR,\n  columns      VARCHAR,\n  created_dts  TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n)`;\n\nconst registryStmts = [registryDDL];\n\nfor (const t of vaultTables) {\n  if (!t || !t.table_name) continue;\n  const cols = extractColumns(t.ddl || '');\n  const tableType = t.table_type || (\n    t.table_name.startsWith('hub_') ? 'HUB' :\n    t.table_name.startsWith('lnk_') ? 'LINK' :\n    t.table_name.startsWith('sat_') ? 'SATELLITE' : 'UNKNOWN'\n  );\n\n  // source tables: find stg_xxx_yyy patterns in load_sql, convert to xxx.yyy\n  const loadSql = t.load_sql || '';\n  const stgMatches = [...loadSql.matchAll(/stg_([a-z]+)_([a-z_]+)/gi)];\n  const srcSet = new Set(stgMatches.map(m => m[1] + '.' + m[2]));\n  const sourceTables = [...srcSet].join(',');\n\n  let pkColumn = '';\n  let bkColumn = '';\n  let hubKeys = '';\n  let parentKey = '';\n  let parentTable = '';\n\n  if (tableType === 'HUB') {\n    pkColumn = cols.find(c => c.endsWith('_hk')) || '';\n    bkColumn = cols.find(c => c.endsWith('_bk')) || '';\n  } else if (tableType === 'LINK') {\n    const hkCols = cols.filter(c => c.endsWith('_hk'));\n    pkColumn = hkCols[0] || '';\n    hubKeys = hkCols.slice(1).join(',');\n  } else if (tableType === 'SATELLITE') {\n    parentKey = cols.find(c => c.endsWith('_hk')) || '';\n    // Try to resolve parent from sibling tables in this batch\n    const sibling = vaultTables.find(s => {\n      if (!s || !s.table_name || s.table_name === t.table_name) return false;\n      const sibCols = extractColumns(s.ddl || '');\n      return sibCols[0] === parentKey;\n    });\n    parentTable = sibling ? sibling.table_name : '';\n  }\n\n  const colList = cols.join(',');\n  const tn = safeStr(t.table_name);\n\n  registryStmts.push(`DELETE FROM _vault_registry WHERE table_name = '${tn}'`);\n  registryStmts.push(\n    `INSERT INTO _vault_registry (table_name, table_type, pk_column, bk_column, hub_keys, parent_table, parent_key, source_tables, columns) VALUES (` +\n    `'${tn}', '${safeStr(tableType)}', '${safeStr(pkColumn)}', '${safeStr(bkColumn)}', ` +\n    `'${safeStr(hubKeys)}', '${safeStr(parentTable)}', '${safeStr(parentKey)}', ` +\n    `'${safeStr(sourceTables)}', '${safeStr(colList)}')`\n  );\n}\n\n// UPDATE to resolve satellite parents from existing registry entries (for PARTIAL_BUILD)\nregistryStmts.push(\n  `UPDATE _vault_registry SET parent_table = (` +\n  `SELECT vr2.table_name FROM _vault_registry vr2 ` +\n  `WHERE vr2.pk_column = _vault_registry.parent_key ` +\n  `AND vr2.table_type IN ('HUB','LINK') LIMIT 1) ` +\n  `WHERE table_type = 'SATELLITE' AND (parent_table IS NULL OR parent_table = '')`\n);\n\nreturn [{\n  json: {\n    vault_statements: [...drops, ...ddl, ...loads, ...registryStmts],\n    vault_tables: vaultTables,\n    plan: plan\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        500
      ],
      "id": "c1111111-1111-4111-8111-111111111111",
      "name": "Collect Vault SQL"
    },
    {
      "parameters": {
        "jsCode": "const statements = $json.vault_statements || [];\n\nconst res = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://duckdb-service:8001/execute-batch',\n  headers: { 'content-type': 'application/json' },\n  body: { statements, database: '/data/vault.duckdb' },\n  json: true,\n});\n\nconst results = res.results || [];\nconst failed = results.filter(r => r.status === 'error');\n\nif (failed.length > 0) {\n  for (const f of failed) {\n    const preview = (statements[f.index] || '').slice(0, 120).replace(/\\s+/g, ' ');\n    console.error(\n      '[Execute Vault SQL] Statement ' + f.index + ' failed: ' + (f.error || 'unknown error') +\n      ' | SQL preview: ' + preview\n    );\n  }\n}\n\nreturn [{ json: { \n  ...res, \n  exec_errors: failed.map(f => ({\n    index: f.index,\n    error: f.error,\n    sql_preview: (statements[f.index] || '').slice(0, 200).replace(/\\s+/g, ' ')\n  }))\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        500
      ],
      "id": "c2222222-2222-4222-8222-222222222222",
      "name": "Execute Vault SQL"
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Collect Vault SQL').first().json;\nconst plan = prev.plan;\n\nreturn (async () => {\n  const createdVaultTables = prev.vault_tables || [];\n  const vaultByName = {};\n\n  // Prefer whatever we just created (Data Vault Agent provides full DDL).\n  for (const t of createdVaultTables) {\n    if (!t || !t.table_name) continue;\n    vaultByName[t.table_name] = {\n      table_name: t.table_name,\n      table_type: t.table_type,\n      ddl: t.ddl,\n    };\n  }\n\n  const existingNames = plan.existing_tables_to_reuse || [];\n  const database = '/data/vault.duckdb';\n  const baseUrl = 'http://duckdb-service:8001/query';\n\n  function tableTypeFromName(name) {\n    if (name.startsWith('hub_')) return 'HUB';\n    if (name.startsWith('lnk_')) return 'LINK';\n    if (name.startsWith('sat_')) return 'SATELLITE';\n    return 'UNKNOWN';\n  }\n\n  async function buildPseudoDDL(tableName) {\n    const safeName = String(tableName).replace(/'/g, \"''\");\n    const sql =\n      \"SELECT column_name, data_type FROM information_schema.columns \" +\n      \"WHERE table_schema = 'main' AND table_name = '\" + safeName + \"' \" +\n      'ORDER BY ordinal_position;';\n\n    const res = await this.helpers.httpRequest({\n      method: 'POST',\n      url: baseUrl,\n      headers: { 'content-type': 'application/json' },\n      body: { sql, database },\n      json: true,\n    });\n\n    const cols = res.rows || [];\n    if (!cols.length) return null;\n\n    const colDefs = cols.map(c => c.column_name + ' ' + c.data_type).join(', ');\n    const ddl = 'CREATE TABLE ' + tableName + ' (' + colDefs + ')';\n\n    return {\n      table_name: tableName,\n      table_type: tableTypeFromName(tableName),\n      ddl,\n    };\n  }\n\n  const existingVaultTables = await Promise.all(\n    existingNames\n      .filter(n => n && !vaultByName[n])\n      .map(n => buildPseudoDDL.call(this, n))\n  );\n\n  for (const t of existingVaultTables) {\n    if (t && t.table_name && !vaultByName[t.table_name]) vaultByName[t.table_name] = t;\n  }\n\n  const allVault = Object.values(vaultByName);\n\n  return [\n    {\n      json: {\n        mart_request: {\n          vault_tables: allVault,\n          mart_table_name: plan.mart_table_name,\n          grain: plan.grain,\n          metrics: plan.metrics || [],\n          business_keys: plan.business_keys || [],\n          mart_sql_plan: plan.mart_sql_plan || null,\n          vault_registry: $('Classify Tables').first().json.vault_registry || [],\n          mart_registry: $('Classify Tables').first().json.mart_registry || [],\n        },\n        vault_tables: allVault,\n        plan: plan,\n      },\n    },\n  ];\n})();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3960,
        500
      ],
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "Build Mart Request"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.mart_request;\nconst _ts_start = Date.now();\nreturn (async () => {\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'http://localhost:5678/webhook/info-mart-agent',\n      headers: { 'content-type': 'application/json' },\n      body,\n      json: true,\n      timeout: 120000,\n    });\n\n    const result = (res && typeof res === 'object') ? res : { value: res };\n    result._ts_mart_ms = Date.now() - _ts_start;\n    return [{ json: result }];\n  } catch (e) {\n    let detail = e.message || String(e);\n    const raw = e.response?.data ?? e.response?.body;\n\n    if (raw && typeof raw === 'object' && raw.detail) detail = String(raw.detail);\n    else if (typeof raw === 'string' && raw.length) {\n      try {\n        const p = JSON.parse(raw);\n        if (p.detail) detail = String(p.detail);\n      } catch (_) {}\n      detail = raw.slice(0, 800);\n    }\n\n    return [{\n      json: {\n        status: 'error',\n        error: detail,\n        mart_table: {},\n        _ts_mart_ms: Date.now() - _ts_start,\n      },\n    }];\n  }\n})();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4180,
        500
      ],
      "id": "c4444444-4444-4444-8444-444444444444",
      "name": "Call Info Mart Agent"
    },
    {
      "parameters": {
        "jsCode": "const martResult = $input.first().json;\nconst prev = $('Build Mart Request').first().json;\nconst plan = prev.plan;\nconst stgData = $('Create Staging Tables').first().json;\nconst mart = martResult.mart_table || {};\nconst stmts = [];\n// Drop the existing mart before recreating it so CREATE TABLE IF NOT EXISTS is not a no-op\nif (plan.mart_table_name) stmts.push('DROP TABLE IF EXISTS ' + plan.mart_table_name);\nif (mart.ddl) stmts.push(mart.ddl);\nif (mart.populate_sql) mart.populate_sql.split(';').map(s => s.trim()).filter(s => s).forEach(s => stmts.push(s));\nstgData.staging_tables.forEach(t => stmts.push('DROP TABLE IF EXISTS ' + t.name));\n\n// \u2500\u2500 Mart registry \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction extractColumns(ddlStr) {\n  if (!ddlStr) return [];\n  const m = ddlStr.match(/\\((.+)\\)/s);\n  if (!m) return [];\n  const inner = m[1]; const cols = []; let depth = 0; let cur = ''; for (const ch of inner) { if (ch === '(') { depth++; cur += ch; } else if (ch === ')') { depth--; cur += ch; } else if (ch === ',' && depth === 0) { cols.push(cur.trim()); cur = ''; } else { cur += ch; } } if (cur.trim()) cols.push(cur.trim()); return cols.map(c => c.split(/\\s+/)[0]).filter(Boolean);\n}\n\nfunction safeStr(s) {\n  return String(s || '').replace(/'/g, \"''\");\n}\n\nconst martRegistryDDL = `CREATE TABLE IF NOT EXISTS _mart_registry (\n  table_name          VARCHAR PRIMARY KEY,\n  understood_request  VARCHAR,\n  grain               VARCHAR,\n  columns             VARCHAR,\n  source_vault_tables VARCHAR,\n  created_dts         TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n)`;\nstmts.push(martRegistryDDL);\n\nif (plan.mart_table_name && mart.ddl) {\n  const cols = extractColumns(mart.ddl).join(',');\n  // Extract vault table refs from populate_sql\n  const populateSql = mart.populate_sql || '';\n  const vaultMatches = [...populateSql.matchAll(/(?:hub|lnk|sat)_\\w+/gi)];\n  const vaultSet = new Set(vaultMatches.map(m => m[0].toLowerCase()));\n  const sourceVaultTables = [...vaultSet].join(',');\n\n  const tn = safeStr(plan.mart_table_name);\n  const req = safeStr(plan.understood_request || '');\n  const grain = safeStr(plan.grain || '');\n\n  stmts.push(`DELETE FROM _mart_registry WHERE table_name = '${tn}'`);\n  stmts.push(\n    `INSERT INTO _mart_registry (table_name, understood_request, grain, columns, source_vault_tables) VALUES (` +\n    `'${tn}', '${req}', '${grain}', '${safeStr(cols)}', '${safeStr(sourceVaultTables)}')`\n  );\n}\n\nreturn [{\n  json: {\n    mart_cleanup_statements: stmts,\n    mart_table: mart,\n    vault_tables: prev.vault_tables,\n    plan: plan\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        500
      ],
      "id": "c5555555-5555-4555-8555-555555555555",
      "name": "Collect Mart + Cleanup"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://duckdb-service:8001/execute-batch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {statements:$json.mart_cleanup_statements, database:\"/data/vault.duckdb\"} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4620,
        500
      ],
      "id": "c6666666-6666-4666-8666-666666666666",
      "name": "Execute Mart + Cleanup"
    },
    {
      "parameters": {
        "jsCode": "// Deterministic mart DQ \u2014 no LLM needed.\n// Validates the mart table: completeness, non-null BKs, insert timestamp, and all-NULL column check.\n\nconst _ts_start = Date.now();\nconst database = '/data/vault.duckdb';\nconst baseUrl = 'http://duckdb-service:8001/query';\n\nfunction extractColumns(ddlStr) {\n  if (!ddlStr) return [];\n  const m = ddlStr.match(/\\((.+)\\)/s);\n  if (!m) return [];\n  const inner = m[1];\n  const cols = [];\n  let depth = 0;\n  let cur = '';\n  for (const ch of inner) {\n    if (ch === '(') { depth++; cur += ch; }\n    else if (ch === ')') { depth--; cur += ch; }\n    else if (ch === ',' && depth === 0) { cols.push(cur.trim()); cur = ''; }\n    else { cur += ch; }\n  }\n  if (cur.trim()) cols.push(cur.trim());\n  return cols.map(c => c.split(/\\s+/)[0]).filter(Boolean);\n}\n\nconst martData = $('Collect Mart + Cleanup').first().json;\nconst mart = martData.mart_table || {};\nconst martName = mart.table_name || '';\n\nif (!martName) {\n  return [{ json: { status: 'pass', checks_run: 0, issues: [], _ts_dq_ms: Date.now() - _ts_start } }];\n}\n\nconst cols = extractColumns(mart.ddl || '');\nconst bkCols = cols.filter(c => c.endsWith('_bk'));\nconst hasInsertDts = cols.includes('mart_insert_dts');\n\nconst checks = [];\n\n// COMPLETENESS: mart not empty\nchecks.push(\n  `SELECT '${martName}_empty' AS check_id, '${martName}' AS table_name, 'COMPLETENESS' AS category,` +\n  ` 'Mart table is empty' AS message,` +\n  ` CASE WHEN COUNT(*) = 0 THEN 1 ELSE 0 END AS issue_count FROM \"${martName}\"`\n);\n\n// COMPLETENESS: business keys not NULL\nfor (const col of bkCols) {\n  checks.push(\n    `SELECT '${martName}_null_${col}', '${martName}', 'COMPLETENESS', 'NULL business key: ${col}',` +\n    ` COUNT(*) FROM \"${martName}\" WHERE \"${col}\" IS NULL`\n  );\n}\n\n// COMPLETENESS: mart_insert_dts not NULL\nif (hasInsertDts) {\n  checks.push(\n    `SELECT '${martName}_null_insert_dts', '${martName}', 'COMPLETENESS', 'NULL mart_insert_dts',` +\n    ` COUNT(*) FROM \"${martName}\" WHERE mart_insert_dts IS NULL`\n  );\n}\n\nconst totalChecks = checks.length;\n\nreturn (async () => {\n  const issues = [];\n\n  // Run UNION ALL checks\n  try {\n    const sql = checks.join(' UNION ALL ');\n    const res = await this.helpers.httpRequest({\n      method: 'POST',\n      url: baseUrl,\n      headers: { 'content-type': 'application/json' },\n      body: { sql, database },\n      json: true,\n    });\n    for (const r of res.rows || []) {\n      if (Number(r.issue_count) > 0) {\n        issues.push({\n          severity: r.check_id.endsWith('_empty') ? 'error' : 'warning',\n          table: r.table_name,\n          check: r.category,\n          message: r.message,\n          count: Number(r.issue_count),\n        });\n      }\n    }\n  } catch (e) {\n    let detail = e.message || String(e);\n    const raw = e.response?.data ?? e.response?.body;\n    if (typeof raw === 'string' && raw.length) detail = raw.slice(0, 800);\n    else if (raw && typeof raw === 'object') detail = JSON.stringify(raw).slice(0, 800);\n    issues.push({\n      severity: 'error',\n      table: martName,\n      check: 'SYSTEM',\n      message: 'Mart DQ query failed: ' + detail,\n      count: 0,\n    });\n  }\n\n  // All-NULL column check: sample 10 rows, flag any non-mart_insert_dts column that is all NULL\n  const dataCols = cols.filter(c => c !== 'mart_insert_dts');\n  if (dataCols.length > 0) {\n    try {\n      const sampleRes = await this.helpers.httpRequest({\n        method: 'POST',\n        url: baseUrl,\n        headers: { 'content-type': 'application/json' },\n        body: { sql: `SELECT * FROM \"${martName}\" LIMIT 10`, database },\n        json: true,\n      });\n      const sampleRows = sampleRes.rows || [];\n      if (sampleRows.length > 0) {\n        for (const col of dataCols) {\n          const allNull = sampleRows.every(r => r[col] === null || r[col] === undefined);\n          if (allNull) {\n            issues.push({\n              severity: 'warning',\n              table: martName,\n              check: 'COMPLETENESS',\n              message: 'Column appears all-NULL in sample: ' + col,\n              count: sampleRows.length,\n            });\n          }\n        }\n      }\n    } catch (e) {\n      // Non-fatal: skip all-NULL check if sample query fails\n    }\n  }\n\n  return [{\n    json: {\n      status: issues.some(i => i.severity === 'error') ? 'fail' : 'pass',\n      checks_run: totalChecks,\n      issues,\n      _ts_dq_ms: Date.now() - _ts_start,\n    },\n  }];\n})();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4840,
        500
      ],
      "id": "c7777777-7777-4777-8777-777777777777",
      "name": "Call DQ Agent"
    },
    {
      "parameters": {
        "jsCode": "const dq = $input.first().json;\nconst plan = $('Collect Mart + Cleanup').first().json.plan;\nreturn [{\n  json: {\n    dq_status: dq.status || 'unknown',\n    dq_issues: dq.issues || [],\n    dq_checks_run: dq.checks_run || 0,\n    final_query: plan.final_query,\n    plan: plan\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5060,
        500
      ],
      "id": "c8888888-8888-4888-8888-888888888888",
      "name": "Check DQ"
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = 'http://duckdb-service:8001/query';\nconst database = '/data/vault.duckdb';\nconst sql = String($json.final_query || '').trim();\nif (!sql) {\n  return [{\n    json: {\n      status: 'error',\n      output: { error: 'final_query is empty', columns: [], data: [], row_count: 0, sql: '' },\n    },\n  }];\n}\n\nreturn (async () => {\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'POST',\n      url: baseUrl,\n      headers: { 'content-type': 'application/json' },\n      body: { sql, database },\n      json: true,\n    });\n    return [{\n      json: {\n        status: 'success',\n        output: {\n          columns: res.columns || [],\n          data: res.rows || [],\n          row_count: res.row_count ?? (res.rows || []).length,\n          sql,\n          explanation: 'Executed via duckdb-service',\n        },\n      },\n    }];\n  } catch (e) {\n    let detail = e.message || String(e);\n    const d = e.response?.data ?? e.response?.body;\n    if (d && typeof d === 'object' && d.detail) detail = String(d.detail);\n    if (typeof d === 'string') {\n      try {\n        const p = JSON.parse(d);\n        if (p.detail) detail = String(p.detail);\n      } catch (_) {}\n    }\n    return [{\n      json: {\n        status: 'error',\n        output: { error: detail, columns: [], data: [], row_count: 0, sql },\n      },\n    }];\n  }\n})();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5960,
        300
      ],
      "id": "c9999999-9999-4999-8999-999999999999",
      "name": "Query Final Results"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst dq = $('Check DQ').first().json;\nconst plan = dq.plan;\nconst stgData = $('Create Staging Tables').first().json;\nconst vaultData = $('Collect Vault SQL').first().json;\nconst martData = $('Collect Mart + Cleanup').first().json;\nconst dvAgent = $('Call Data Vault Agent').first().json;\nconst imAgent = $('Call Info Mart Agent').first().json;\nconst dqAgent = $('Call DQ Agent').first().json;\n\nconst topStatus = result.status === 'error' ? 'error' : 'success';\n\nconst timings = {\n  total_ms: Date.now() - (stgData._ts_start || Date.now()),\n  data_vault_agent_ms: dvAgent._ts_vault_ms || null,\n  info_mart_agent_ms: imAgent._ts_mart_ms || null,\n  dq_agent_ms: dqAgent._ts_dq_ms || null\n};\n\nconst generated_sql = {\n  vault: (vaultData.vault_tables || []).map(t => ({\n    table_name: t.table_name,\n    table_type: t.table_type,\n    ddl: t.ddl,\n    load_sql: t.load_sql\n  })),\n  mart: martData.mart_table ? {\n    table_name: martData.mart_table.table_name,\n    ddl: martData.mart_table.ddl,\n    populate_sql: martData.mart_table.populate_sql\n  } : null\n};\n\nconst parts = [];\nparts.push('-- Generated SQL for: ' + (plan.understood_request || ''));\nparts.push('-- Routing: ' + (plan.routing_decision || ''));\nparts.push('');\nconst vaultTables = generated_sql.vault || [];\nif (vaultTables.length > 0) {\n  parts.push('-- ========== VAULT TABLES ==========');\n  for (const t of vaultTables) {\n    parts.push('');\n    parts.push('-- ' + (t.table_type || '') + ': ' + (t.table_name || ''));\n    if (t.ddl) parts.push(t.ddl + ';');\n    if (t.load_sql) parts.push('');\n    if (t.load_sql) parts.push(t.load_sql + ';');\n  }\n  parts.push('');\n}\nif (generated_sql.mart && generated_sql.mart.table_name) {\n  parts.push('-- ========== MART TABLE ==========');\n  parts.push('-- ' + generated_sql.mart.table_name);\n  if (generated_sql.mart.ddl) parts.push(generated_sql.mart.ddl + ';');\n  parts.push('');\n  if (generated_sql.mart.populate_sql) parts.push(generated_sql.mart.populate_sql + ';');\n  parts.push('');\n}\nconst finalSql = (result.output && result.output.sql) || plan.final_query || '';\nif (finalSql) {\n  parts.push('-- ========== FINAL QUERY ==========');\n  parts.push(finalSql + ';');\n}\nconst queryCode = parts.join('\\n');\n\nreturn [{\n  json: {\n    status: topStatus,\n    routing: plan.routing_decision,\n    understood_request: plan.understood_request,\n    mart_created: plan.mart_table_name,\n    vault_tables_created: plan.vault_tables_to_create || [],\n    existing_tables_reused: plan.existing_tables_to_reuse || [],\n    source_tables_extracted: (stgData.staging_tables || []).map(t => t.original_source),\n    dq_status: dq.dq_status,\n    dq_checks_run: dq.dq_checks_run,\n    dq_issues: dq.dq_issues,\n    timings: timings,\n    generated_sql: generated_sql,\n    mart_sql_plan: plan.mart_sql_plan || null,\n    query_code: queryCode,\n    output: result.output || result\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6180,
        300
      ],
      "id": "d1111111-1111-4111-8111-111111111111",
      "name": "Format Build Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6400,
        300
      ],
      "id": "d2222222-2222-4222-8222-222222222222",
      "name": "Respond BUILD"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dq-gate-cond-1",
              "leftValue": "={{ $json.dq_status }}",
              "rightValue": "pass",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5280,
        500
      ],
      "id": "d3333333-3333-4333-8333-333333333333",
      "name": "DQ Gate"
    },
    {
      "parameters": {
        "jsCode": "const dq = $input.first().json;\nconst plan = dq.plan;\nconst stgData = $('Create Staging Tables').first().json;\nconst vaultData = $('Collect Vault SQL').first().json;\nconst martData = $('Collect Mart + Cleanup').first().json;\nconst dvAgent = $('Call Data Vault Agent').first().json;\nconst imAgent = $('Call Info Mart Agent').first().json;\nconst dqAgent = $('Call DQ Agent').first().json;\n\nconst timings = {\n  total_ms: Date.now() - (stgData._ts_start || Date.now()),\n  data_vault_agent_ms: dvAgent._ts_vault_ms || null,\n  info_mart_agent_ms: imAgent._ts_mart_ms || null,\n  dq_agent_ms: dqAgent._ts_dq_ms || null\n};\n\nconst generated_sql = {\n  vault: (vaultData.vault_tables || []).map(t => ({\n    table_name: t.table_name,\n    table_type: t.table_type,\n    ddl: t.ddl,\n    load_sql: t.load_sql\n  })),\n  mart: martData.mart_table ? {\n    table_name: martData.mart_table.table_name,\n    ddl: martData.mart_table.ddl,\n    populate_sql: martData.mart_table.populate_sql\n  } : null\n};\n\nreturn [{\n  json: {\n    status: 'error',\n    routing: plan.routing_decision,\n    understood_request: plan.understood_request,\n    mart_created: plan.mart_table_name,\n    vault_tables_created: plan.vault_tables_to_create || [],\n    existing_tables_reused: plan.existing_tables_to_reuse || [],\n    source_tables_extracted: (stgData.staging_tables || []).map(t => t.original_source),\n    dq_status: dq.dq_status,\n    dq_checks_run: dq.dq_checks_run,\n    dq_issues: dq.dq_issues,\n    timings: timings,\n    generated_sql: generated_sql,\n    output: {\n      error: 'Data quality checks failed \u2014 ' + (dq.dq_issues || []).length + ' issue(s) found. Vault tables that loaded successfully are preserved. Retry to regenerate failed tables.',\n      columns: [],\n      data: [],\n      row_count: 0,\n      sql: dq.final_query || ''\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5960,
        700
      ],
      "id": "d5555555-5555-4555-8555-555555555555",
      "name": "Format DQ Fail Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6180,
        700
      ],
      "id": "d4444444-4444-4444-8444-444444444444",
      "name": "Respond DQ FAIL"
    },
    {
      "parameters": {
        "jsCode": "// Deterministic vault DQ \u2014 no LLM needed.\n// Reads vault_tables from Collect Vault SQL, generates and runs validation SQL inline.\n\nconst _ts_start = Date.now();\nconst database = '/data/vault.duckdb';\nconst baseUrl = 'http://duckdb-service:8001/query';\n\nfunction extractColumns(ddlStr) {\n  if (!ddlStr) return [];\n  const m = ddlStr.match(/\\((.+)\\)/s);\n  if (!m) return [];\n  const inner = m[1];\n  const cols = [];\n  let depth = 0;\n  let cur = '';\n  for (const ch of inner) {\n    if (ch === '(') { depth++; cur += ch; }\n    else if (ch === ')') { depth--; cur += ch; }\n    else if (ch === ',' && depth === 0) { cols.push(cur.trim()); cur = ''; }\n    else { cur += ch; }\n  }\n  if (cur.trim()) cols.push(cur.trim());\n  return cols.map(c => c.split(/\\s+/)[0]).filter(Boolean);\n}\n\nconst vaultTables = $('Collect Vault SQL').first().json.vault_tables || [];\nconst execErrors = $('Execute Vault SQL').first().json.exec_errors || [];\n\nif (!vaultTables.length) {\n  return [{ json: { status: 'pass', checks_run: 0, issues: [], exec_errors: execErrors, _ts_vault_dq_ms: Date.now() - _ts_start } }];\n}\n\n// Build a map from table_name -> columns for referential checks\nconst tableColMap = {};\nconst tablePkMap = {}; // table_name -> first column (PK)\nfor (const t of vaultTables) {\n  if (!t || !t.table_name) continue;\n  const cols = extractColumns(t.ddl || '');\n  tableColMap[t.table_name] = cols;\n  // PK is the first column defined in the DDL\n  tablePkMap[t.table_name] = cols[0] || null;\n}\n\nconst checks = [];\n\nfor (const t of vaultTables) {\n  if (!t || !t.table_name) continue;\n  const name = t.table_name;\n  const tableType = t.table_type || (\n    name.startsWith('hub_') ? 'HUB' :\n    name.startsWith('lnk_') ? 'LINK' :\n    name.startsWith('sat_') ? 'SATELLITE' : 'UNKNOWN'\n  );\n  const cols = tableColMap[name] || [];\n  const hkCols = cols.filter(c => c.endsWith('_hk'));\n  const bkCols = cols.filter(c => c.endsWith('_bk'));\n\n  // COMPLETENESS: table not empty\n  checks.push(\n    `SELECT '${name}_empty' AS check_id, '${name}' AS table_name, 'COMPLETENESS' AS category,` +\n    ` 'Table is empty' AS message,` +\n    ` CASE WHEN COUNT(*) = 0 THEN 1 ELSE 0 END AS issue_count FROM \"${name}\"`\n  );\n\n  // COMPLETENESS: NULL hash keys\n  for (const col of hkCols) {\n    checks.push(\n      `SELECT '${name}_null_${col}', '${name}', 'COMPLETENESS', 'NULL hash key: ${col}',` +\n      ` COUNT(*) FROM \"${name}\" WHERE \"${col}\" IS NULL`\n    );\n  }\n\n  // COMPLETENESS: NULL business keys (hubs only)\n  if (tableType === 'HUB') {\n    for (const col of bkCols) {\n      checks.push(\n        `SELECT '${name}_null_${col}', '${name}', 'COMPLETENESS', 'NULL business key: ${col}',` +\n        ` COUNT(*) FROM \"${name}\" WHERE \"${col}\" IS NULL`\n      );\n    }\n  }\n\n  if (tableType === 'HUB') {\n    // UNIQUENESS on business key\n    for (const col of bkCols) {\n      checks.push(\n        `SELECT '${name}_dup_${col}', '${name}', 'UNIQUENESS', 'Duplicate business key: ${col}',` +\n        ` COUNT(*) FROM (SELECT \"${col}\" FROM \"${name}\" GROUP BY \"${col}\" HAVING COUNT(*) > 1) t`\n      );\n    }\n    // UNIQUENESS on hash key\n    for (const col of hkCols) {\n      checks.push(\n        `SELECT '${name}_dup_${col}', '${name}', 'UNIQUENESS', 'Duplicate hash key: ${col}',` +\n        ` COUNT(*) FROM (SELECT \"${col}\" FROM \"${name}\" GROUP BY \"${col}\" HAVING COUNT(*) > 1) t`\n      );\n    }\n  }\n\n  if (tableType === 'LINK') {\n    // UNIQUENESS on PK (first _hk column)\n    const pkHk = hkCols[0];\n    if (pkHk) {\n      checks.push(\n        `SELECT '${name}_dup_${pkHk}', '${name}', 'UNIQUENESS', 'Duplicate link PK: ${pkHk}',` +\n        ` COUNT(*) FROM (SELECT \"${pkHk}\" FROM \"${name}\" GROUP BY \"${pkHk}\" HAVING COUNT(*) > 1) t`\n      );\n    }\n  }\n\n  if (tableType === 'SATELLITE') {\n    // UNIQUENESS: at most one current record per parent key\n    const parentHk = hkCols[0];\n    if (parentHk && cols.includes('load_end_dts')) {\n      checks.push(\n        `SELECT '${name}_dup_current', '${name}', 'UNIQUENESS', 'Duplicate current records',` +\n        ` COUNT(*) FROM (SELECT \"${parentHk}\" FROM \"${name}\" WHERE load_end_dts IS NULL GROUP BY \"${parentHk}\" HAVING COUNT(*) > 1) t`\n      );\n    }\n  }\n}\n\n// REFERENTIAL INTEGRITY checks (only between tables in this batch)\nfor (const t of vaultTables) {\n  if (!t || !t.table_name) continue;\n  const name = t.table_name;\n  const tableType = t.table_type || (\n    name.startsWith('hub_') ? 'HUB' :\n    name.startsWith('lnk_') ? 'LINK' :\n    name.startsWith('sat_') ? 'SATELLITE' : 'UNKNOWN'\n  );\n  const cols = tableColMap[name] || [];\n  const hkCols = cols.filter(c => c.endsWith('_hk'));\n\n  if (tableType === 'SATELLITE') {\n    // Parent is the hub/link whose PK matches the satellite's first _hk column\n    const parentHk = hkCols[0];\n    if (!parentHk) continue;\n    const parentTable = vaultTables.find(p =>\n      p && p.table_name !== name &&\n      (p.table_name.startsWith('hub_') || p.table_name.startsWith('lnk_')) &&\n      (tableColMap[p.table_name] || [])[0] === parentHk\n    );\n    if (parentTable) {\n      checks.push(\n        `SELECT '${name}_ref_${parentTable.table_name}', '${name}', 'REFERENTIAL',` +\n        ` 'Orphan records in ${name} referencing ${parentTable.table_name}',` +\n        ` COUNT(*) FROM \"${name}\" s WHERE s.\"${parentHk}\" NOT IN (SELECT \"${parentHk}\" FROM \"${parentTable.table_name}\")`\n      );\n    }\n  }\n\n  if (tableType === 'LINK') {\n    // Each _hk column after the first references a hub by naming convention\n    const fkHkCols = hkCols.slice(1); // skip the link's own PK (first _hk)\n    for (const hk of fkHkCols) {\n      // Find hub whose PK column matches this hk\n      const refHub = vaultTables.find(p =>\n        p && p.table_name !== name &&\n        p.table_name.startsWith('hub_') &&\n        (tableColMap[p.table_name] || [])[0] === hk\n      );\n      if (refHub) {\n        checks.push(\n          `SELECT '${name}_ref_${refHub.table_name}', '${name}', 'REFERENTIAL',` +\n          ` 'Orphan ${hk} in ${name}',` +\n          ` COUNT(*) FROM \"${name}\" l WHERE l.\"${hk}\" NOT IN (SELECT \"${hk}\" FROM \"${refHub.table_name}\")`\n        );\n      }\n    }\n  }\n}\n\nconst totalChecks = checks.length;\n\nreturn (async () => {\n  try {\n    const sql = checks.join(' UNION ALL ');\n    const res = await this.helpers.httpRequest({\n      method: 'POST',\n      url: baseUrl,\n      headers: { 'content-type': 'application/json' },\n      body: { sql, database },\n      json: true,\n    });\n\n    const rows = res.rows || [];\n    const issues = rows\n      .filter(r => Number(r.issue_count) > 0)\n      .map(r => ({\n        severity: r.category === 'COMPLETENESS' && r.check_id.endsWith('_empty') ? 'error' : 'warning',\n        table: r.table_name,\n        check: r.category,\n        message: r.message,\n        count: Number(r.issue_count),\n      }));\n\n    return [{\n      json: {\n        status: issues.some(i => i.severity === 'error') ? 'fail' : 'pass',\n        checks_run: totalChecks,\n        issues,\n        exec_errors: execErrors,\n        _ts_vault_dq_ms: Date.now() - _ts_start,\n      },\n    }];\n  } catch (e) {\n    let detail = e.message || String(e);\n    const raw = e.response?.data ?? e.response?.body;\n    if (typeof raw === 'string' && raw.length) detail = raw.slice(0, 800);\n    else if (raw && typeof raw === 'object') detail = JSON.stringify(raw).slice(0, 800);\n    return [{\n      json: {\n        status: 'error',\n        checks_run: totalChecks,\n        issues: [{\n          severity: 'error',\n          table: '_dq_system',\n          check: 'SYSTEM',\n          message: 'Vault DQ query failed: ' + detail,\n          count: 0,\n        }],\n        exec_errors: execErrors,\n        _ts_vault_dq_ms: Date.now() - _ts_start,\n      },\n    }];\n  }\n})();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        500
      ],
      "id": "e1111111-1111-4111-8111-111111111111",
      "name": "Call Vault DQ"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "vault-dq-gate-cond-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pass",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3740,
        500
      ],
      "id": "e2222222-2222-4222-8222-222222222222",
      "name": "Vault DQ Gate"
    },
    {
      "parameters": {
        "jsCode": "const vaultDQ = $('Call Vault DQ').first().json;\nconst vaultData = $('Collect Vault SQL').first().json;\nconst stgData = $('Create Staging Tables').first().json;\nconst execResult = $('Execute Vault SQL').first().json;\nconst plan = vaultData.plan;\n\n// Drop staging tables before responding\nconst dropStmts = (stgData.staging_tables || []).map(t => 'DROP TABLE IF EXISTS ' + t.name);\nif (dropStmts.length > 0) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'http://duckdb-service:8001/execute-batch',\n      headers: { 'content-type': 'application/json' },\n      body: { statements: dropStmts, database: '/data/vault.duckdb' },\n      json: true,\n    });\n  } catch (e) {}\n}\n\nconst dqIssues = vaultDQ.issues || [];\nconst dqStatus = vaultDQ.status || 'fail';\n\nreturn [{\n  json: {\n    status: 'error',\n    routing: plan ? plan.routing_decision : 'BUILD',\n    understood_request: plan ? plan.understood_request : '',\n    vault_tables_created: plan ? (plan.vault_tables_to_create || []) : [],\n    existing_tables_reused: plan ? (plan.existing_tables_to_reuse || []) : [],\n    source_tables_extracted: (stgData.staging_tables || []).map(t => t.original_source),\n    dq_status: dqStatus,\n    dq_checks_run: vaultDQ.checks_run || 0,\n    dq_issues: dqIssues,\n    output: {\n      error: 'Vault data quality checks failed \u2014 ' + dqIssues.length + ' issue(s) found. Vault tables were not committed.',\n      columns: [],\n      data: [],\n      row_count: 0,\n      sql: ''\n    },\n    exec_errors: execResult.exec_errors || [],\n    exec_summary: { total: execResult.total, succeeded: execResult.succeeded, failed: execResult.failed }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3740,
        800
      ],
      "id": "e3333333-3333-4333-8333-333333333333",
      "name": "Format Vault DQ Fail Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "source-query-check-1",
              "leftValue": "={{ $json.routing_decision }}",
              "rightValue": "QUERY_SOURCE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1980,
        500
      ],
      "id": "sq11111111-1111-4111-8111-111111111111",
      "name": "Source Query Check"
    },
    {
      "parameters": {
        "jsCode": "const plan = $json;\nconst question = plan.understood_request || '';\n\nreturn (async () => {\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'http://localhost:5678/webhook/query-agent',\n      headers: { 'content-type': 'application/json' },\n      body: {\n        task: question,\n        database: '/data/source.duckdb'\n      },\n      json: true,\n      timeout: 60000,\n    });\n    const result = (res && typeof res === 'object') ? res : { value: res };\n    return [{ json: { status: 'success', output: result.output || result } }];\n  } catch (e) {\n    const detail = e.response?.data?.detail || e.message || String(e);\n    return [{ json: { status: 'error', output: { error: detail, columns: [], data: [], row_count: 0 } } }];\n  }\n})();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        500
      ],
      "id": "sq22222222-2222-4222-8222-222222222222",
      "name": "Call Query Agent Direct"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst plan = $('Parse Route').first().json;\nconst sourceSql = (result.output && result.output.sql) || '';\nconst queryCode = '-- QUERY_SOURCE: Source database query\\n\\n' + sourceSql + '\\n';\nreturn [{\n  json: {\n    status: result.status || 'success',\n    routing: 'QUERY_SOURCE',\n    understood_request: plan.understood_request,\n    query_code: queryCode,\n    output: result.output || result\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        500
      ],
      "id": "sq33333333-3333-4333-8333-333333333333",
      "name": "Format Source Response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read Source Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Source Catalog": {
      "main": [
        [
          {
            "node": "Inspect Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inspect Tables": {
      "main": [
        [
          {
            "node": "Classify Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Tables": {
      "main": [
        [
          {
            "node": "Cleanup Stale Marts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Stale Marts": {
      "main": [
        [
          {
            "node": "Build LLM Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Context": {
      "main": [
        [
          {
            "node": "Route Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Decision": {
      "main": [
        [
          {
            "node": "Parse Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Route Decision",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Route": {
      "main": [
        [
          {
            "node": "Route Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Check": {
      "main": [
        [
          {
            "node": "Query Mart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Source Query Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Source Query Check": {
      "main": [
        [
          {
            "node": "Call Query Agent Direct",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Staging Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Query Agent Direct": {
      "main": [
        [
          {
            "node": "Format Source Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Source Response": {
      "main": [
        [
          {
            "node": "Respond QUERY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Mart": {
      "main": [
        [
          {
            "node": "Format Query Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Query Response": {
      "main": [
        [
          {
            "node": "Respond QUERY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Staging Tables": {
      "main": [
        [
          {
            "node": "Run Staging SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Staging SQL": {
      "main": [
        [
          {
            "node": "Describe Staging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Describe Staging": {
      "main": [
        [
          {
            "node": "Build Vault Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Vault Request": {
      "main": [
        [
          {
            "node": "Call Data Vault Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Data Vault Agent": {
      "main": [
        [
          {
            "node": "Collect Vault SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Vault SQL": {
      "main": [
        [
          {
            "node": "Execute Vault SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Vault SQL": {
      "main": [
        [
          {
            "node": "Call Vault DQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Vault DQ": {
      "main": [
        [
          {
            "node": "Vault DQ Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vault DQ Gate": {
      "main": [
        [
          {
            "node": "Build Mart Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Vault DQ Fail Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Vault DQ Fail Response": {
      "main": [
        [
          {
            "node": "Respond DQ FAIL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Mart Request": {
      "main": [
        [
          {
            "node": "Call Info Mart Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Info Mart Agent": {
      "main": [
        [
          {
            "node": "Collect Mart + Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Mart + Cleanup": {
      "main": [
        [
          {
            "node": "Execute Mart + Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Mart + Cleanup": {
      "main": [
        [
          {
            "node": "Call DQ Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call DQ Agent": {
      "main": [
        [
          {
            "node": "Check DQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check DQ": {
      "main": [
        [
          {
            "node": "DQ Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DQ Gate": {
      "main": [
        [
          {
            "node": "Query Final Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format DQ Fail Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format DQ Fail Response": {
      "main": [
        [
          {
            "node": "Respond DQ FAIL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Final Results": {
      "main": [
        [
          {
            "node": "Format Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Build Response": {
      "main": [
        [
          {
            "node": "Respond BUILD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}