workflows/info_mart_agent.json
{
  "id": "WckXx5XegNLPPAk0",
  "name": "Info Mart Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "info-mart-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "id": "im01a1b2-c3d4-e5f6-a7b8-c9d0e1f2a3b4",
      "name": "Webhook",
      "webhookId": "info-mart-agent-webhook-id"
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/data/metadata/dv2_rules.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "id": "im02b2c3-d4e5-f6a7-b8c9-d0e1f2a3b4c5",
      "name": "Read File"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook').first().json.body;\n\nconst fileData = $input.first().json;\nlet dv2Rules;\ntry {\n  if (fileData.data) {\n    dv2Rules = JSON.parse(Buffer.from(fileData.data, 'base64').toString('utf-8'));\n  } else if (fileData.json) {\n    dv2Rules = typeof fileData.json === 'string' ? JSON.parse(fileData.json) : fileData.json;\n  } else {\n    dv2Rules = fileData;\n  }\n} catch (e) {\n  dv2Rules = fileData;\n}\n\nreturn {\n  json: {\n    vault_tables: webhookData.vault_tables,\n    mart_table_name: webhookData.mart_table_name,\n    grain: webhookData.grain,\n    metrics: webhookData.metrics || [],\n    business_keys: webhookData.business_keys || [],\n    mart_sql_plan: webhookData.mart_sql_plan || null,\n    previous_error: webhookData.previous_error || null,\n    retry_instructions: webhookData.retry_instructions || null,\n    vault_registry: webhookData.vault_registry || [],\n    mart_registry: webhookData.mart_registry || [],\n    dv2_rules: dv2Rules\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "id": "im03c3d4-e5f6-a7b8-c9d0-e1f2a3b4c5d6",
      "name": "Merge Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a mart table using the plan below.\n\nAVAILABLE VAULT TABLES (with their DDL):\n{{ JSON.stringify($json.vault_tables, null, 2) }}\n\nMART TABLE NAME: {{ $json.mart_table_name }}\nGRAIN: {{ $json.grain }}\nMETRICS: {{ JSON.stringify($json.metrics) }}\nBUSINESS KEYS: {{ JSON.stringify($json.business_keys) }}\n\nMART SQL PLAN:\n{{ JSON.stringify($json.mart_sql_plan, null, 2) }}\n\n{{ $json.retry_instructions ? 'RETRY INSTRUCTIONS: ' + $json.retry_instructions : '' }}\n\nVAULT REGISTRY:\n{{ JSON.stringify($json.vault_registry, null, 2) }}\n\nMART REGISTRY:\n{{ JSON.stringify($json.mart_registry, null, 2) }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an Info Mart Agent for an inventory data system. Your only job is to translate a mart SQL plan into valid DuckDB SQL.\n\nYou receive a fully specified mart_sql_plan with exact columns, join sequences, and CTE strategy. Follow it precisely \u2014 do not invent joins, change column names, or apply your own reasoning. The plan was designed by a senior analyst; your job is code generation only.\n\nVault tables are in /data/vault.duckdb, in the main schema (no prefix needed). Do not reference source tables (erp.*, procurement.*, wms.*).\n\nRULES:\n1. Use CREATE TABLE IF NOT EXISTS for the DDL.\n2. The mart table name must start with mart_.\n3. No hash key columns (_hk) in the mart output \u2014 use _bk business key columns only.\n4. No DV2 metadata columns in the mart \u2014 no load_dts, load_end_dts, hashdiff, record_source.\n5. Always include mart_insert_dts TIMESTAMP DEFAULT CURRENT_TIMESTAMP as the last DDL column. In the INSERT SELECT, include CURRENT_TIMESTAMP AS mart_insert_dts as the last selected value.\n6. populate_sql is two statements: DELETE FROM mart_xxx; INSERT INTO mart_xxx SELECT ...\n7. Use DuckDB SQL syntax. Use CAST(col AS VARCHAR) before COALESCE(..., '') for any numeric or non-string columns.\n8. When mart_sql_plan.cte_strategy is \"measures_first\": build the measures CTE from cte_tables first, then join fanout_joins in the outer SELECT.\n9. Apply any filter entries from join_sequence as JOIN ... ON ... conditions or WHERE clauses as appropriate.\n10. Reference ONLY tables listed in the AVAILABLE VAULT TABLES. Use exact table_name and column spellings from their DDL.\n11. Use the VAULT REGISTRY to understand table relationships \u2014 which links connect which hubs, which satellites parent to which hub or link. This ensures correct JOIN paths.\n12. For spend or cost metrics, always use subtotal (pre-tax). Never use total_due unless the user explicitly asks for total cost including tax.\n\nRespond ONLY with valid JSON (no markdown code fences):\n{\n  \"mart_table\": {\n    \"table_name\": \"mart_...\",\n    \"ddl\": \"CREATE TABLE IF NOT EXISTS mart_... (...)\",\n    \"populate_sql\": \"DELETE FROM mart_...; INSERT INTO mart_... SELECT ...\"\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        800,
        300
      ],
      "id": "im04d4e5-f6a7-b8c9-d0e1-f2a3b4c5d6e7",
      "name": "Generate Mart SQL"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "claude-haiku-4-5-20251001"
        },
        "options": {
          "maxTokensToSample": 16384
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        800,
        500
      ],
      "id": "im05e5f6-a7b8-c9d0-e1f2-a3b4c5d6e7f8",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "WZvvDOFtpiYtjRLz",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const llmOutput = $input.first().json.text;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(llmOutput);\n} catch (e) {\n  let jsonStr = llmOutput;\n  const fenceMatch = llmOutput.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (fenceMatch) {\n    jsonStr = fenceMatch[1].trim();\n  } else if (llmOutput.startsWith('```')) {\n    jsonStr = llmOutput.replace(/^```(?:json)?\\s*/, '').trim();\n  }\n\n  try {\n    parsed = JSON.parse(jsonStr);\n  } catch (e2) {\n    let recovered = jsonStr;\n    const quoteCount = (recovered.match(/(?<!\\\\)\"/g) || []).length;\n    if (quoteCount % 2 !== 0) recovered += '\"';\n    const stack = [];\n    for (const ch of recovered) {\n      if (ch === '{' || ch === '[') stack.push(ch);\n      else if (ch === '}' || ch === ']') stack.pop();\n    }\n    while (stack.length > 0) {\n      const last = stack.pop();\n      recovered += last === '{' ? '}' : ']';\n    }\n    try {\n      parsed = JSON.parse(recovered);\n    } catch (e3) {\n      throw new Error('Could not parse LLM output as JSON: ' + llmOutput.substring(0, 300));\n    }\n  }\n}\n\n// Be tolerant about slightly different JSON shapes.\n// The LLM should return { mart_table: { table_name, ddl, populate_sql } },\n// but sometimes it returns those fields at the top level.\nif (!parsed.mart_table) {\n  if (parsed.table_name && parsed.ddl && parsed.populate_sql) {\n    parsed = { mart_table: parsed };\n  } else if (parsed.mart_table_name && parsed.ddl && parsed.populate_sql) {\n    parsed = {\n      mart_table: {\n        table_name: parsed.mart_table_name,\n        ddl: parsed.ddl,\n        populate_sql: parsed.populate_sql,\n      },\n    };\n  } else if (parsed.table && parsed.ddl && parsed.populate_sql) {\n    parsed = {\n      mart_table: {\n        table_name: parsed.table,\n        ddl: parsed.ddl,\n        populate_sql: parsed.populate_sql,\n      },\n    };\n  }\n}\n\nif (!parsed.mart_table) {\n  throw new Error('LLM output missing mart_table object');\n}\n\nconst mart = parsed.mart_table;\nif (!mart.table_name || !mart.ddl || !mart.populate_sql) {\n  throw new Error('Mart table entry missing required fields: table_name, ddl, or populate_sql');\n}\n\nreturn {\n  json: {\n    status: 'success',\n    mart_table: mart\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ],
      "id": "im06f6a7-b8c9-d0e1-f2a3-b4c5d6e7f8a9",
      "name": "Parse Output"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1400,
        300
      ],
      "id": "im07a7b8-c9d0-e1f2-a3b4-c5d6e7f8a9b0",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "Generate Mart SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Mart SQL": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Mart SQL",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}